<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="240" maxRequestLength="2097151" />
    <!--<httpRuntime maxRequestLength="10240"/>-->
    <customErrors mode="Off" />
    <!-- <httpRuntime targetFramework="4.5.1" />-->
    <compilation targetFramework="4.5.1" debug="true" >
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <!--<buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>-->
    </compilation>
    <sessionState mode="InProc" timeout="200" />
    <!--<authentication mode="Forms">
      <forms defaultUrl="~/Login.aspx" loginUrl="Login.aspx" slidingExpiration="true" timeout="120" />
    </authentication>-->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="FromMail" value="accounts@excelenclosures.com" />
    <add key="mailUserName" value="accounts@weblinkservices.net" />
    <add key="mailUserPass" value="Accounts@123wlspl" />
    <add key="AdminMailBcc" value="infooo@weblinkservices.net" />
    <add key="AdminMailCC" value="infooo@weblinkservices.net" />
    <add key="Host" value="smtpout.secureserver.net" />
    <!--<add key="Host" value="bizssmtp.net4india.com" />-->
    <add key="EnableSsl" value="false" />
    <add key="Port" value="587" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>
  <connectionStrings>
          <add name="connectionString" connectionString="Data Source=148.72.210.79;Initial Catalog=DB_ExcelEncNew;uid=DB_ExcelEncNew;password=DB_ExcelEncNew@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

	  
    <!--<add name="connectionString" connectionString="Data Source=148.72.210.79;Initial Catalog=ExcelEncLive;uid=ExcelEncLive;password=ExcelEncLive@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="ExcelCon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|NewEmployees.xlsx;Extended Properties=Excel 12.0" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: a9f3f9b3-3c9c-4b13-871a-e5fa57e41998-->